@import url(//db.onlinewebfonts.com/c/0387a0b8b59d6b26cb736ec76d5045b0?family=Cairo);
@font-face {font-family: "Cairo";
    src: url("//db.onlinewebfonts.com/t/0387a0b8b59d6b26cb736ec76d5045b0.eot");
    src: url("//db.onlinewebfonts.com/t/0387a0b8b59d6b26cb736ec76d5045b0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0387a0b8b59d6b26cb736ec76d5045b0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/0387a0b8b59d6b26cb736ec76d5045b0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/0387a0b8b59d6b26cb736ec76d5045b0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/0387a0b8b59d6b26cb736ec76d5045b0.svg#Cairo") format("svg");
}
body {
  direction: rtl;
  font-family:Cairo !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.checktext {
    margin-right: 19px;
}
.price-container{
    border: 1px solid #cfcfcf !important;
    border-radius: 5px;
    padding: 10px 10px;
}
.repeater input{
  margin: 5px;
}
.from {
      padding: 0px 8px;
}
